body {
    font-family: Arial, sans-serif;
    font-size: small;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: #111;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}

a {
    color: pink; 
}
a:hover {
    color: #fff; 
}

img {
    margin-bottom: 20px; 
    object-fit: cover;
    width: 200px; 
    height: 200px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    background: transparent;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    color: white;
}


button {
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

footer {
    background-color: #111;
    padding: 20px 0;
}

footer p {
    margin: 0;
}


/* LIGHT BOX */ 

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


.close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
